<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender name="Console" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="[%X{__ThreadID}][%d{MM/dd HH:mm:ss}][%X{__UserName}:%X{__RequestIP}][%C{1} %M %L] [%-3p] %c{1}: %m%n" />
		</layout>
	</appender>
	<category name="com.demo" additivity="false">
		<level value="INFO" />
		<appender-ref ref="Console" />
	</category>
	<root>
		<level value="ERROR" />
		<appender-ref ref="Console" />
	</root>
</log4j:configuration>